{% extends 'base.html' %}
{% load static %}

   {% block content %}
      <!-- fason  section start -->
      <div class="fashion_section">
         <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="fashion_taital">Qalin materiallar</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           {% for qalin in qalinlar %}
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">{{ qalin.name }}</h4>
                                 <p class="price_text">Bahasi  <span style="color: #262626;">{{ qalin.price }}</span></p>
                                 <div class="electronic_img"><img src="{{ qalin.image.url }}"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Satip aliw</a></div>
                                    <div class="seemore_bt"><a href="#">Kobirek</a></div>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>

               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Qalin materiallar</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           {% for qalin in qalinlar2 %}
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">{{qalin.name}}</h4>
                                 <p class="price_text">Bahasi  <span style="color: #262626;">{{ qalin.price }}</span></p>
                                 <div class="electronic_img"><img src="{{ qalin.image.url }}"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Satip aliw</a></div>
                                    <div class="seemore_bt"><a href="#">Kobirek</a></div>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>

               <div class="carousel-item">
                  <div class="container">
                     <h1 class="fashion_taital">Qalin materiallar</h1>
                     <div class="fashion_section_2">
                        <div class="row">
                           {% for qalin in qalinlar %}
                           <div class="col-lg-4 col-sm-4">
                              <div class="box_main">
                                 <h4 class="shirt_text">{{ qalin.name }}</h4>
                                 <p class="price_text">Bahasi  <span style="color: #262626;">{{ qalin.price }}</span></p>
                                 <div class="electronic_img"><img src="{{ qalin.image.url }}"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Satip aliw</a></div>
                                    <div class="seemore_bt"><a href="#">Kobirek</a></div>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>

            </div>
            <a class="carousel-control-prev" href="#electronic_main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#electronic_main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <!-- fason  section end -->
   {% endblock %}